html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  font-family: Georgia, serif;
  display: block;
  width: 305px;
  color: #785439;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bolder;
  color: #512200;
  display: inline-block;
  margin: 0 0 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

dl {
  list-style: none;
  display: inline-block;
  text-align: left;
  font-size: .875rem;
  columns: 2;
  column-gap: 1px;
}

dd {
  font-style: italic;
}

.list {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
}

a {
  display: block;
  border: 3px solid #9a816d;
  padding: 1rem;
  border-radius: 8px;
  background-color: #dcd4cd;
  padding-bottom: 0;
  font-weight: 500;
}

.footer {
  text-align: center;
  padding: 1rem;
}

section {
  display: inline-block;
  margin: 0 0 1rem;
}

.btn {
  display: inline-block;
  color: #f0eee8;
  background-color: #785439;
  padding: .4em .75em .5em;
  border-radius: 8px;
  text-align: center;
  margin: 0;
  font-family: Dosis, sans-serif;
  font-weight: bolder;
  border: 3px solid #785439;
}
